* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

body, footer {
    background-color: #f9f9f9;
    color: #333;
  }
  
  .dark-mode {
    background-color: #333;
    color: #f9f9f9;
  }

    header {
        height: 70%;
        color: #ff6b6b;
        border-bottom: 1px solid #ff6b6b;
    }
    
    
    header img {
        width: 300px;
        display: block;
        margin-left: 30px;
        padding-bottom: 10px;
    }

.main {
    margin-top: 7%;
}

.a {
    color: rgb(238, 224, 224);
    width: 25%;
}

nav, footer {
    clear: both;
    color: white;
    background-color: #ff5a5f;
    height: 30px;
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav li a {
    color: white;
}

nav li a:hover, nav li a.current {
    color: #000000;
}
div>a:hover {
    background-color: rgb(233, 230, 230);
    color: #050303;
    display: block;
}

div#canhochothue {
    margin: 50px;
}

h2 {
    margin-left: 50px;
}

h3 {
    margin-left: 50px;
    margin-bottom: 10px;
}

.hang1 {
    display: flex;
    margin: 20px;
    box-shadow: 0px 4px 10px rgba(182, 182, 182, 0.18) !important;
}

.hang2 {
    width: 25%;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(182, 182, 182, 0.18) !important;
}

.hang3 {
    width: 33.3%;
    text-align: center;
    padding: 35px;
    box-shadow: 0px 4px 10px rgba(182, 182, 182, 0.18) !important;
}

img {
    width: 50%;
    padding: 8px;
}

div>a {
    color: #050303;
}

.image-class-1,
.image-class-2,
.image-class-3,
.image-class-4 {
    width: 100%;
    height: 300px;


}

.hang2>a {
    color: #cf813f;
    margin: 10px;
    box-shadow: 0px 4px 10px rgb(116 66 66 / 0%);
}
.footer{
    box-shadow: 0px 4px 10px rgb(116 66 66 / 0%);
    background: #f2f2f2;
    width: 100%;
    display: flex;
    margin-top: 50px;
    
    
}
/* .f{
    width: 20%;
}
.footer1, .footer2, .footer3, .footer4{
    width: 15%;
    margin-top: 20px;
    text-align: center;
} */
footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;
}
h2.hethong {
    margin: 50px;
}
img.one1 {
    width: 10%;
}
button.toggle-button {
    background-color: #d9d5d5;
    color: #333;
    float: right;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.toggle-button:hover {
    background-color: #635858;
  }